<div id="<%= dom_id project %>">
  <p>
    <strong>Created by:</strong>
    <%= project.created_by %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Num comments:</strong>
    <%= project.num_comments %>
  </p>

  <p>
    <strong>In progress at:</strong>
    <%= project.in_progress_at %>
  </p>

  <p>
    <strong>In review at:</strong>
    <%= project.in_review_at %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= project.completed_at %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= project.deleted_at %>
  </p>

</div>
