<%= render "application/card", header: @project.title do %>
  <p style="color: green"><%= notice %></p>

  <%= render @project %>

  <div class="clearfix">
    <div class="float-start btn-group">
      <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-primary" %>
      <%= link_to "Back to projects", projects_path, class: "btn btn-primary" %>
    </div>

    <div class="float-end">
      <%= button_to "Destroy this project", @project, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

<%= render "application/card", header: "Comments" do %>
  <% @comments.each do |comment| %>
    <p><%= comment.first_name %> (<%= l comment.created_at %>)</p>
    <p><%= comment.text %></p>
    <hr>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
